// color
$bg: #f7f7f7;
$sky: #11749e;
$sky-trans: rgba(17, 116, 158, 0.5);
$light-sky: #2e85aa;
$light-sky-trans: rgba(46, 133, 170, 0.5);
$dark: #222222;

$light-gray: rgb(182, 182, 182);
$gray: rgb(158, 158, 158);
$dark-gray: rgb(77, 77, 77);

$transparent: rgba(0, 0, 0, 0);
