.js-title-anim {
  animation-duration: 0.8s;
  animation-delay: 0.3s;
  animation-iteration-count: 1;
}

.js-bg-anim {
  animation-duration: 0.8s;
  animation-delay: 1.5s;
  animation-iteration-count: 1;
}